@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=Roboto&display=swap");

/* fontes utilizadas: 'Caveat' , 'Libre Baskerville' , 'Roboto' */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  --cor-fonte-clara: #f3f3f3;
  --cor-fonte-escura: #333333;
  /*   --cor-fundo-escuro: #1d1d1d; */
  --cor-fundo-cinza: #727272;
  --cor-fundo-texto: rgb(0 0 0 / 25%);
  --largura-max: 100%;
}
html {
  font-size: 10px;
}
main {
  background-color: #2b86c5;
}
a {
  text-decoration: none;
  color: var(--cor-fonte-clara);
}
header {
  width: var(--largura-max);
  height: 213px;
  padding: 20px;
  color: var(--cor-fonte-clara);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}
.logo__conteudo {
  width: 340px;
  height: 140px;
  display: flex;
  flex-direction: row;
}
.logoo__conteudo img {
  height: 120px;
}
.logo__texto {
  padding: 40px 1px 1px 1px;
}
.logo__texto h3 {
  font-size: 2rem;
}
h1 {
  font-size: 4.5rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
  list-style-type: none;
}
.botao {
  width: 197px;
  height: 82px;
  border-radius: 100px;
  text-align: center;
  padding-top: 28px;
  font-size: 2.4rem;
}
/* Efeito do botão */
.botao {
  background-image: linear-gradient(
    to right,
    #ece9e6 0%,
    #ffffff 51%,
    #ece9e6 100%
  );
}
.botao {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--cor-fonte-escura);
  display: block;
}
.botao:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.banner {
  background-image: url(../img/fundo_SP.jpg);
  background-size: cover;
  width: var(--largura-max);
  height: 532px;
  box-shadow: 6px 8px 5px rgb(0 0 0 / 25%);
}
.banner__texto {
  padding: 2rem 3rem;
  text-align: justify;
  color: var(--cor-fonte-clara);
  font-size: 2.5rem;
  background-color: var(--cor-fundo-texto);
  box-shadow: 6px 8px 5px rgb(0 0 0 / 25%);
}
.curiosidades {
  width: var(--largura-max);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 98px;
  padding-bottom: 140px;
}
.curiosidades h2 {
  font-size: 3.6rem;
  margin-bottom: 37px;
  width: 1077px;
  color: var(--cor-fonte-clara);
}
.curiosidades__card_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 36px;
  flex-wrap: wrap;
}
.curiosidades__card {
  width: 335px;
  height: 535px;
  background-color: var(--cor-fundo-cinza);
  border-radius: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  box-shadow: 6px 8px 5px rgb(0 0 0 / 25%);
}
.curiosidades__titulo {
  font-size: 2.5rem;
  text-align: center;
  color: var(--cor-fonte-clara);
  height: 48px;
}
.curiosidades__card img {
  width: 305px;
  height: 200px;
  border-radius: 10px;
}
.curiosidades__texto {
  font-size: 1.8rem;
  text-align: justify;
  height: 247px;
  color: var(--cor-fonte-clara);
}
.video {
  width: var(--largura-max);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 233px;
}
.video h2 {
  font-size: 3.6rem;
  padding-bottom: 37px;
  width: 1077px;
  color: var(--cor-fonte-clara);
}
.video iframe {
  width: 1077px;
  height: 534px;
  box-shadow: 6px 8px 5px rgb(0 0 0 / 25%);
}
footer {
  width: var(--largura-max);
  height: 414px;
  display: flex;
  flex-direction: column;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}
.redes h2 {
  padding: 29px 76px;
  font-size: 76px;
  color: var(--cor-fonte-clara);
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.links img {
  width: 141px;
  height: 141px;
  border-radius: 50%;
}
.conjunto {
  text-align: center;
  font-size: 36px;
  color: var(--cor-fonte-clara);
}

@media (max-width: 1280px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 745px) {
  html {
    font-size: 4px;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 3.8px;
  }
}
